.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cfcbcb;
    align-items: center;
}

.header__logo {
    height: 40px;
    object-fit: contain;
}
.header__icon {
    padding: 20px;
    color: #7c7b7b;
}

